* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Regular";
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}


.post-enter {
    transform: translateX(-250px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 200ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-250px);
    transition: all 200ms ease-out;
}
.page__wrapper {
    margin-top: 30px;
    display: flex;
}
.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page__current {
    border: 3px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}
.navbar__links {
    margin-left: auto;
}

.post__btns {
    display: flex;
}

@font-face {
    font-family: "Regular";   /*Regular Type Font*/
    src: local("Omnes Regular"),
    url("./Omnes Regular.ttf") format("truetype");
}